.bar-side-menu {
    background-color: #03A9F4;
}

.bar-content {
    background-color: #03A9F4;
}

.button.button-positive {
    border-color: #009688;
    background-color: #009688;
    color: #fff;
}

.item-divider {
    background-color: #fafafa;
}